{% extends "layout.html" %}
{% block content %}

<body>

<div class="text-box ignore-pre-white">

Some of my work has been in publications:<ul><li><a href="https://www.phoronix.com/news/Linux-Weight-Interleave-Auto">Phoronix:</a><span> Michael Larabel wrote an article about my weighted interleave auto-tuning patch.</span>
		<li><a href="https://www.cs.columbia.edu/2024/congratulations-to-the-class-of-2024/">Columbia: </a><span> I won the Andrew P. Kosoresow Memorial Award for Excellence in Teaching and Service in 2024.</span>
	</ul>

	Here is a list of commits I have made to the <a href="https://github.com/torvalds/linux">Linux kernel</a>:<ul><li><a href="https://github.com/torvalds/linux/commit/05d4532b60e3e6e2a094ec56a88d1def50bd2430">memcg/hugetlb:</a><span> Add hugeTLB counters to memcg</span>
			<li><a href="https://github.com/torvalds/linux/commit/aefa398d93d5db7c555be78a605ff015357f127d">cgroup/rstat: </a><span> Tracking cgroup-level niced CPU time</span>
		<ul><li><a href="https://github.com/torvalds/linux/commit/2e82c0d4562a4b8292af83577b70af888a93d16d">cgroup/rstat: </a><span> Selftests for niced CPU statistics</span>
		</ul></li>
	</ul>
</div>


</body>

{% endblock %}
