{% extends "layout.html" %}
{% block content %}

<body>

<div class="text-box ignore-pre-white">

Some of my work has been in publications:<ul><li><a href="https://www.phoronix.com/news/Linux-Weight-Interleave-Auto" target="_blank">Phoronix:</a><span> Michael Larabel wrote an article about my weighted interleave auto-tuning patch.</span>
		<li><a href="https://www.cs.columbia.edu/2024/congratulations-to-the-class-of-2024/" target="_blank">Columbia: </a><span> I won the Andrew P. Kosoresow Memorial Award for Excellence in Teaching and Service in 2024.</span>
	</ul>

You can find a list of all the commits I have made to the Linux Kernel <a href="https://github.com/search?q=repo%3Atorvalds%2Flinux+author%3Ajoshuahahn&type=commits" target="_blank">here</a>. Here are a few selected patches:<ul><li><span> memcg/hugetlb: memcg hugetlb accounting rework [</span><a href="https://github.com/torvalds/linux/commit/4e97d64c492e1f65b4f7d14803ed580b279aaf6f" target="_blank">1</a> <a href="https://github.com/torvalds/linux/commit/991135774c0e05a4734e6d32aa03b00355e4cac9" target="_blank">2 </a> <a href="https://github.com/torvalds/linux/commit/1d8f136a421f26747e58c01281cba5bffae8d289" target="_blank">3</a><span>]</span>
		<li><span>memcg/rstat: Tracking cgroup-level niced CPU time [</span><a href="https://github.com/torvalds/linux/commit/aefa398d93d5db7c555be78a605ff015357f127d" target="_blank">1</a> <a href="https://github.com/torvalds/linux/commit/2e82c0d4562a4b8292af83577b70af888a93d16d" target="_blank">2</a><span>]</span>
	</ul>

	In my free time, I also contribute to <a href="https://github.com/sjp38/hackermail" target="_blank">Hackermail (hkml)</a>, an open-source mail management tool that I use on a daily basis to interact with the upstream Linux community. You can find my commits <a href="https://github.com/search?q=repo%3Asjp38%2Fhackermail+author%3Ajoshuahahn&type=commits" target="_blank">here</a>! 

</div>


</body>

{% endblock %}
