{% extends "layout.html" %}
{% block content %}

<body>
	<div class="text-box">
 ___________________________________
/ Welcome to Joshua Hahn's website! \
|                                   |
\           Updated 2/4/25          /
 -----------------------------------
        \   ^__^
         \  (oo)\_______
            (__)\       )\/\
                ||----w |
                ||     ||
	</div>

	<div class="text-box">
Hi! I'm a software engineer at Meta, contributing to the Linux kernel.
Most of my work is public and open-source: find my work <a href="https://lore.kernel.org/linux-mm/?q=Joshua+Hahn" target="_blank">here</a>.

In my free time, I like listening to black metal and ambient electronica.
I also play the electric guitar, electric bass, and piano.

Here, you will find my professional work, as well as things I do for fun
(like a list of all the albums I've ever listened to).

Thanks for visiting my page. You can reach me at:
joshua [dot] hahnjy [at] gmail [dot] com
	</div>
</body>

{% endblock %}
